@font-face {
    font-family: 'a5'; /* 사용자가 정의할 폰트 이름 */
    src: url('../resources/ttf/UDOnGothic.otf') format('truetype'); /* 폰트 경로와 형식 지정 */
    font-weight: normal;
    font-style: normal;
}
img {
    margin: 0;
    height: 70vh;
    display: flex;
    justify-content: flex-start; /* 이미지 시작 위치 */
    background-color: white;
}

/* HTML과 BODY에 100% 높이를 설정 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* 메인 콘텐츠 섹션이 Flexbox 안에서 확장되도록 설정 */
.container-fluid {
    flex: 1;
}

/* 푸터를 아래로 밀기 위한 설정 */
footer {
    margin-top: auto;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box; /* padding과 margin을 높이에 포함시킴 */
}

h1 {
    font-size: 4rem;
    margin-top: 20vh;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.button {
    padding: 20px 40px; /* 버튼 크기 키움 (패딩 확장) */
    border: none;
    color: white;
    font-size: 2rem; /* 폰트 크기 키움 */
    border-radius: 8px; /* 둥근 버튼 모서리 */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* 버튼과 텍스트 사이에 공간 추가 */
}
.description .highlight {
    color: #101E4E;
}
.description {
    margin-top: 30px;
    font-size: 7rem; /* 폰트 크기 키움 */
    color: #333; /* 글씨 색상 */
    text-align: center;
    font-family: 'a5', serif;
    animation: slideInLeft 1.5s ease-in-out; /* 애니메이션 추가 */
}
