<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flex.miniProject.board.BoardMapper">

    <!-- 게시글 목록 조회 -->
    <select id="getAllBoards" resultType="com.flex.miniProject.board.Bizone_board">
        SELECT bb_no, bb_postNum, bb_bm_nickname, bb_title, bb_content, bb_date, bb_readCount
        FROM bizone_board
        ORDER BY bb_postNum DESC
    </select>

    <!-- 게시글 조회 -->
    <select id="getBoardByNo" parameterType="int" resultType="com.flex.miniProject.board.Bizone_board">
        SELECT bb_no, bb_postNum, bb_bm_nickname, bb_title, bb_content, bb_date, bb_readCount
        FROM bizone_board
        WHERE bb_no = #{bb_no}
    </select>

    <!-- 게시글 조회 시 조회수 증가 -->
    <update id="increaseReadCount" parameterType="int">
        UPDATE bizone_board
        SET bb_readCount = bb_readCount + 1
        WHERE bb_no = #{bb_no}
    </update>

    <!-- 최대 게시글 번호 가져오기 -->
    <select id="getMaxPostNum" resultType="int">
        SELECT IFNULL(MAX(bb_postNum), 0) FROM bizone_board
    </select>

    <!-- 게시글 작성 -->
    <insert id="insertBoard" parameterType="com.flex.miniProject.board.Bizone_board">
        INSERT INTO bizone_board (bb_postNum, bb_bm_nickname, bb_title, bb_content)
        VALUES (#{bb_postNum}, #{bb_bm_nickname}, #{bb_title}, #{bb_content})
    </insert>


    <!-- 게시글 수정 -->
    <update id="updateBoard" parameterType="com.flex.miniProject.board.Bizone_board">
        UPDATE bizone_board
        SET bb_title = #{bb_title},
            bb_content = #{bb_content}
        WHERE bb_no = #{bb_no}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteBoard" parameterType="int">
        DELETE FROM bizone_board WHERE bb_no = #{bb_no}
    </delete>

    <!-- 게시글 번호 재정렬 -->
    <update id="initializeRowNum">
        SET @rownum := 0;
    </update>

    <update id="reorderBoardNumbers">
        UPDATE bizone_board
        SET bb_postNum = (@rownum := @rownum + 1)
            ORDER BY bb_no;
    </update>

</mapper>