<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flex.miniProject.member.KakaoMapper">
    <insert id="kakaoInsert" parameterType="com.flex.miniProject.member.KakaoVO">
        insert into bizone_kakaouser values (#{bk_id}, #{bk_nickname}, #{bk_profile_image_url}, #{bk_created_at})
    </insert>
    <select id="findKakao" parameterType="com.flex.miniProject.member.KakaoVO" resultType="com.flex.miniProject.member.KakaoVO">
        SELECT * From bizone_kakaouser
        WHERE bk_id = #{bk_id}
          AND bk_nickname = #{bk_nickname} AND bk_profile_image_url = #{bk_profile_image_url}
    </select>
</mapper>