<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flex.bizone.member.MemberMapper">
    <insert id="signupMember" parameterType="com.flex.bizone.member.Bizone_member">
        insert into bizone_member values(#{bm_id}, #{bm_pw}, #{bm_name}, #{bm_nickname}, #{bm_address}, #{bm_phoneNum}, #{bm_birthday}, #{bm_mail})
    </insert>
    <select id="getMemberById" parameterType="com.flex.bizone.member.Bizone_member" resultType="com.flex.bizone.member.Bizone_member">
        select * from bizone_member where bm_id = #{bm_id}
    </select>
    <delete id="deleteMember" parameterType="com.flex.bizone.member.Bizone_member">
        delete from bizone_member where bm_id = #{bm_id}
    </delete>
    <update id="updateMember" parameterType="com.flex.bizone.member.Bizone_member">
        update bizone_member set bm_pw = #{bm_pw}, bm_name = #{bm_name},bm_nickname = #{bm_nickname}, bm_address = #{bm_address}, bm_phoneNum = #{bm_phoneNum}, bm_mail = #{bm_mail} where bm_id = #{bm_id}
    </update>
    <select id="checkIfIdExists" resultType="Integer" parameterType="String">
        select COUNT(*) from bizone_member where bm_id = #{bm_id}
    </select>

    <select id="getIdByEmail" parameterType="com.flex.bizone.member.Bizone_member" resultType="com.flex.bizone.member.Bizone_member">
        select bm_id from bizone_member where #{bm_mail} = bm_mail
    </select>
    <update id="changePW" parameterType="com.flex.bizone.member.Bizone_member">
        update bizone_member set bm_pw = #{bm_pw} where bm_id = #{bm_id};
    </update>
</mapper>